*{
    padding: 0px;
    margin: 0px;
}

body{
	background-color: black;
    color: white;
}

header{
	text-align: center;
	background-color: #231F1F;
	color: white;
}

img{
padding: 20px;
margin-left: 28%;
width: 40%;

}

}

 #menu ul {
    padding:0px;
    margin top:0px;
    background-color:#EDEDED;
    list-style:none;
}
    
#menu ul li { display: inline; 
}
#menu ul li a {
    padding: 5px 10px;
    display: inline-block;
    background-color: #161212;
    color: white;
    text-decoration: none;
    border-bottom:4px solid #EDEDED;
    margin-bottom: 3px;
}

#menu ul li a:hover {
    background-color:black;
    color: red;
    border-bottom:4px solid #EA0000;
}

main{
	background-color: #5F5F5F;
	padding: 24px;
    margin: 20px;
}



.centralizar{
	text-align: center;
    margin-top: 20px;
    font-size: 250%;

}


footer{
 
    text-align: center;
    background-color: #231F1F;
    color: white;
    
    
}

.titulo{
	text-align: center;
    margin-top: 24px;
    animation-name:aumentar;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes aumentar{
    from{
        letter-spacing: 2px
    }
    to{ letter-spacing:10px; 
    }

}

 .noticia{
 	text-align: center;
    padding-right: 300px;
    padding-left: 300px;
    font-size: 80%;
    letter-spacing: 2px;
 }

 article{
 	clear: left;

 }

p{
   padding: 5px;
   text-align: center;
}
 
 .borda{
    border: double;
    border-color: black;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 40px;

 }
  iframe{
    margin-left: 23%;
    border-radius: 50px;
  }

  #jornal{
    font-size: 260%;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-right: 42%;
    margin-left: 42%;
    transition-property: font-size:100%; transform: rotate(90deg, -270deg, 4turn); background-color:  #5F5F5F; color: black;
    transition-duration: 3s,2s,3s,2s,3s,2s;
    transition-timing-function: ease;
    transition-delay: 0s, 0s, 0s, 0s, 0s;

    
  }

}
  #jornal:hover{
      background-color: #BABABA;
      }

a:link{
    color: #F30101;
    
}

a:visited{
    color: #F933BA;
}


    